// Fonts Import
@font-face {
    font-family: "Circe";
    src: url("../fonts/CirceRegular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/CirceLight.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/CirceExtraLight.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/CirceBold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/CirceExtraBold.otf");
    font-weight: 800;
    font-style: normal;
}

// Animations

// Normalize
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Circe", sans-serif;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    // line-height: 1.6;
}

a:link,
a:visited {
    text-decoration: none;
}

// Components
.btn {
    border: none;
    background: transparent;
    padding: 0.5rem 2rem;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
    }

    &__rounded {
        border-radius: inherit;
    }
}

input {
    padding: 0.5rem 1rem;
    border: none;
    background: transparent;

    &:focus {
        outline: none;
        border-color: rgba($color: #000, $alpha: 1);
        transition: all 0.2s;
    }
}

// Home Page
.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.search-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    // overflow: hidden;
}

.search-bar {
    position: relative;
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background: rgba($color: #e4e4e4, $alpha: 0.4);
    border-radius: 7rem;
    max-width: 80rem;
    width: 40rem;
    min-width: 20rem;
    height: 5rem;
    transition: background 0.4s;
    // border: 0.05rem solid #fff;

    .btn {
        background: #fff;
        font-size: 1.6rem;

        &:hover {
            background: rgba($color: #000000, $alpha: 1);
            color: #fff;
        }
    }
}

.in-focus {
    background: rgba($color: #e4e4e4, $alpha: 0.8);
}

.search-icon {
    width: 2rem;
    margin-left: 1rem;
}

.search-inp {
    // max-width: 40rem;
    // min-width: 10rem;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    // color: #fff;
}

.search-result {
    margin-top: 1rem;
    // background: #000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.5rem;

    &-card {
        // background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 3fr;
        transition: all 0.2s;

        &:hover {
            background-color: rgb(213, 242, 248);
            cursor: pointer;
        }

        &__poster {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10rem;
            padding: 1rem;
            // background-color: #ccc;
            // overflow: hidden;

            img {
                max-height: 100%;
            }
        }

        &__content {
            padding: 1rem 1rem 1rem 0;
            display: flex;
            flex-direction: column;
        }

        &__year {
            font-size: 1.2rem;
            color: rgb(138, 138, 138);
        }

        &__rating {
            margin-top: 1rem;
            display: flex;
            align-items: center;

            &-icon {
                width: 1.2rem;
                margin-right: 1rem;
            }

            &-number {
                line-height: 100%;
            }
        }
    }
}

// Movie Detail Page
.detail-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
}

.backdrop-container {
    width: 100%;
    height: 100vh;
    background: url("../img/backdrop.jpg") no-repeat center;
    background-size: cover;
}

.backdrop-overlay {
    padding: 2rem;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 80%
    );
}

.backdrop-movie {
    display: flex;
    justify-content: space-between;

    ul {
        display: inline;

        li {
            position: relative;
            list-style: none;
            display: inline;
            letter-spacing: 0.2rem;
            // text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 300;
            padding: 0 0.5rem;

            &:first-child {
                margin-left: 0;
                padding-left: 0rem;
                padding-right: 0.5rem;
            }

            &:last-child {
                // margin-left: 0.5rem;
                padding-left: 0.5rem;
            }

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                width: 0.5rem;
                height: 0.5rem;
                background-color: #fff;
                border-radius: 50%;
                transform: translateY(-50%);
                top: 50%;
                left: 100%;
            }
        }
    }

    &__col1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__col2 {
        display: flex;
        align-items: flex-end;
    }

    &__genre {
        li {
            position: relative;
            list-style: none;
            display: inline;
            letter-spacing: 0.2rem;
            // text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 300;
            padding: 0 0.5rem;

            &:first-child {
                margin-left: 0;
                padding-left: 0rem;
                padding-right: 0.5rem;
            }

            &:last-child {
                // margin-left: 0.5rem;
                padding-left: 0.5rem;
            }

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                width: 0.5rem;
                height: 0.5rem;
                background-color: #fff;
                border-radius: 50%;
                transform: translateY(-50%);
                top: 50%;
                left: 100%;
            }
        }
    }

    &__name {
        font-size: 8rem;
        font-weight: 800;
    }

    &__overview {
        margin-top: 1rem;
        max-width: 60rem;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    &__rating {
        font-size: 8rem;
        font-weight: 800;
        line-height: 78%;
        margin-right: 2rem;
    }
}
